:root {
	--main-font-size: 0.82915rem;
	--name-font-size: 1.2rem;
	--frame-padding: 20px;
	--nav-padding-vertical: 1rem;

	/* DESKTOP */
	--desktop-nav-gap: 7.5rem;

	/* TABLET */
	--tablet-nav-gap: 20%;

	/* MOBILE */
	--mobile-nav-gap: 4.8rem;
	--mobile-toggle-size: 1.3rem;
	--mobile-nav-padding-bottom: 24px;
	--mobile-nav-padding-left: 18%;
	--mobile-nav-color: #141414;
	--nav-mobile-blur-size: 4rem;
	--mobile-nav-blur-color: rgba(18,18,18,0.5);

	--header-height: calc(var(--main-font-size) + (var(--nav-padding-vertical) * 2));
}



/* ------------ Utility Classes ------------ */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}



/* ------------ GLOBAL - All/Non-Mobile Sizes ------------ */

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: absolute;
	top: 0;
}



/* -- Main Text -- */

html,
body,
a {
	color: #fff;
	font-family: "Martian Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--main-font-size);
	line-height: 1;
	font-variation-settings: "wght" 260, "wdth" 100;
}

/* -- Name Text -- */

.name {
	font-family: "Cormorant Infant", serif;
	font-size: var(--name-font-size);
	line-height: 0;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-variation-settings: "wght" 400, "wdth" 100;
	position: fixed;
}



/* -- BG Color + Noise -- */
html {
	background-color: #020202;
}

#bg-video-noise-container {
	z-index: -99998;
	justify-content: center;
	align-items: center;
	display: flex;
	position: fixed;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	overflow: hidden;
	pointer-events: none;
}

#bg-video-noise {
	width: 300%;
	height: 300%;
	max-width: none;
	background-image: url(/images/grain.png);
	background-position: 50%;
	background-size: 7%;
	position: absolute;
	opacity: 0.06;
	top: -150%;
	bottom: 0%;
	left: -150%;
	right: 0%;
	animation: 0.8s steps(1) infinite noise;
}

@keyframes noise {

	0%,
	100% {
		background-position: 0 0;
	}

	10% {
		background-position: -5% -10%;
	}

	20% {
		background-position: -15% 5%;
	}

	30% {
		background-position: 7% -25%;
	}

	40% {
		background-position: 20% 25%;
	}

	50% {
		background-position: -25% 10%;
	}

	60% {
		background-position: 15% 5%;
	}

	70% {
		background-position: 0% 15%;
	}

	80% {
		background-position: 25% 35%;
	}

	90% {
		background-position: -10% 10%;
	}
}

#bg-video-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #020202;
	z-index: -99999;
	cursor: none;
}

.bg-video {
	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: baseline;
	-o-object-fit: cover !important;
	object-fit: cover !important;
}



/* -- Frame -- */
#frame {
	position: fixed;
	border: solid 1px #fff;
	width: calc(100% - (var(--frame-padding) * 2));
	height: calc(100% - (var(--frame-padding) * 2));
	left: var(--frame-padding);
	top: var(--frame-padding);
	z-index: 981;
	pointer-events: none;
	mix-blend-mode: difference;
}

#frame-header-border {
	width: 100%;
	height: var(--header-height);
	border-bottom: solid 1px #fff;
}

/* -- Name -- */

#nameLeft {
	left: calc(var(--frame-padding) + 0.5px);
	bottom: calc(var(--frame-padding) * 2);
}

#nameRight {
	right: calc(var(--frame-padding) + 0.5px);
	top: calc((var(--frame-padding) * 2) + var(--header-height));
}

/* -- Header -- */
.primary-header {
	position: fixed;
	width: calc(100% - (var(--frame-padding) * 2));
	left: var(--frame-padding);
	top: var(--frame-padding);
	pointer-events: initial;
	z-index: 999;
}

/* -- Mobile Toggle -- */
.nav-mobile-toggle {
	display: none;
}

/* -- Nav -- */
.primary-nav {
	width: 100%;
}

/* -- Nav ul -- */
.primary-nav-ul {
	list-style: none;
	justify-content: center;
	padding: var(--nav-padding-vertical) 0;
}

/*-- Nav Text -- */
.primary-nav a {
	text-decoration: none;
	transition: color 150ms ease;
}

.primary-nav a:hover,
.primary-nav a:active {
	color: #a1a1a1;
}

.selected a {
	text-decoration: line-through;
}

/*-- CONTENT --*/
.content {
	position: fixed;
	overflow-y: scroll;
	width: calc(100% - (var(--frame-padding) * 4) - 2px);
	height: calc(100% - (var(--frame-padding) * 4) - var(--header-height) - 3px);
	left: calc(var(--frame-padding) * 2);
	top: calc((var(--frame-padding) * 2) + var(--header-height) + 2px);
	z-index: 10;
}



/* ------------ DESKTOP ------------ */
.primary-nav-ul {
	--gap: var(--desktop-nav-gap);
}



/* ------------ TABLET ------------ */
@media (max-width: 62em) {
	.primary-nav-ul {
		--gap: var(--tablet-nav-gap);
	}
}



/* ------------ MOBILE ------------ */

@media (max-width: 35em) {

	#frame-header-border {
		display: none;
	}

	.primary-header {
		border: none;
	}

	.nav-mobile-toggle {
		position: absolute;
		display: block;
		background-color: transparent;
		background-image: url("/images/menu.svg");
		background-repeat: no-repeat;
		border: none;
		width: var(--mobile-toggle-size);
		aspect-ratio: 1;
		top: var(--frame-padding);
		right: var(--frame-padding);
		z-index: 985;
	}

	.nav-mobile-toggle[aria-expanded="true"] {
		background-image: url("/images/menux.svg");
	}

	.primary-nav {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}

	.primary-nav-ul {
		position: fixed;
		border: none;
		background: var(--mobile-nav-color);
		inset: 0 0 0 42%;
		flex-direction: column;
		--gap: var(--mobile-nav-gap);
		margin: 0;

		transform: translateX(100%);
		transition: transform 280ms ease-out;
	}

	.primary-nav-ul[data-visible="true"] {
		transform: translateX(0%);
	}

	@supports (backdrop-filter: blur(var(--nav-mobile-blur-size))) or (-webkit-backdrop-filter: blur(var(--nav-mobile-blur-size))) {
		.primary-nav-ul {
			backdrop-filter: blur(var(--nav-mobile-blur-size));
			-webkit-backdrop-filter: blur(var(--nav-mobile-blur-size));
			background: var(--mobile-nav-blur-color);
		}
	}

	.primary-nav-ul li {
		text-align: center;
		width: 100%;
		margin: 1rem 0;
	}
}