.masonry-panel {
	padding: 20px;
}

.masonry-images {
	display: block;
	width: 100% !important;
	height: auto !important;
	opacity: 1.0;
	transition: ease 350ms padding;
}

.masonry-images:hover {
	padding: 10px;
}

/* ---- Tablet ---- */

@media (max-width: 62em) {
}

/* ---- MOBILE ---- */

@media (max-width: 35em) {
	.masonry-panel {
		padding: 0px;
	}
}
