.masonry-images {
	display: block;
	width: 100% !important;
	height: auto !important;
	opacity: 1.0;
	transition: ease 350ms opacity;
}

.masonry-images:hover {
	opacity: 0.8;
}

/* ---- MEDIUM ---- */

@media (max-width: 62em) {
}

/* ---- MOBILE ---- */

@media (max-width: 35em) {
}
